body {
    background-color: rgb(240, 240, 240);
    color: #333;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

#footer {
    height: 5em;
    position: absolute; 
    bottom: 0;
}

.form-control {
    background-color: transparent;
    color: rgba(51, 51, 51, 0.6);
    border-color: #333;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.btn {
    color: #333;
    background-color: rgb(240, 240, 240);
    border-color: #333;
}

.footer-muted {
    color: rgb(48, 48, 48);
    font-size: .85em;
}