{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1 class="mt-5 mb-3">Close Deposit Account</h1>

    <h3>{{ name }}</h3>

    <form method="post" action="/close_deposit_account">

        <div class="form-group">
            <label for="account_choice">Choose Account to Close</label>
            <select class="form-control" id="account_choice" name="account_choice">
                {% for account in accounts %}
                    <option value="{{  account['id']  }}">{{  account['name']  }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn mt-3">Close Deposit Account</button>
    </form>

</div>

{% endblock content %}