{% extends "layout.html" %}
{% block content %}

<div class="container">

    {% if name %}
        <h1 class="mt-5 mb-3">Welcome, {{ name }}!</h1>
    {% else %}
    <h1 class="mt-5 mb-3">Welcome!</h1>
    {% endif %}

    <h2 class="mt-3 mb-3">Please select an option below</h2>

    {% if name %}
        <a href="http://localhost:5000/logout" class="btn-light">Logout</a>
    {% else %}
        <a href="http://localhost:5000/register" class="btn-light">Register</a>
        <br>
        <a href="http://localhost:5000/login" class="btn-light">Login</a>
        <br>
    {% endif %}

</div>

{% endblock content %}