{% extends "layout.html" %}
{% block content %}

<div id="index-body" class="d-flex justify-content-center align-items-center">

    <div class="card d-flex" style="width: 18rem;">
        <p class="display-3 d-flex justify-content-center mt-3">NE[R]O</p>
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Online Banking</h5>
            <p class="card-text text-center">An online, neo banking project focused on providing users with banking and crypto currency features</p>
            <div>
                <a id="start-button" href="{{ url_for('register') }}" class="btn btn-dark">Start!</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}